
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - alertprovider.alertojon.io
  resources:
  - pagerduties
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - alertprovider.alertojon.io
  resources:
  - pagerduties/finalizers
  verbs:
  - update
- apiGroups:
  - alertprovider.alertojon.io
  resources:
  - pagerduties/status
  verbs:
  - get
  - patch
  - update
