name: Go

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
        run: make manifests

  pull_def_repo:
    runs-on: ubuntu-latest
    steps:

      - name: Pull operator definitions repository
        uses: actions/checkout@v2
        with:
          repository: pickjonathan/alertojon.io-operator-definition
          ref: develop
          token: ${{ secrets.my_pat }}

      - name: ls
        run: ls

#      - name: Test
#        run: go test -v ./...