name: Make-Install

on:
  pull_request:
    branches:
      - develop

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Make manifests
        run: make manifests

      - name: Upload crds
        uses: actions/upload-artifact@v2
        with:
          name: crds
          path: config/crd/bases

      - name: push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          message: "Update manifests"
          branch: ${{ github.ref }}